@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200&family=Roboto:wght@300;400;700&display=swap');

/* ESTILIZANDO O SITE DA BARBIE */

/* PAGINA HOME - index.html */

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
}

body{ 
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
}

/* MENU */

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(225,62,144);
}

.ativa{
    color: rgb(225,62,144);
}

.logo img{
    width: 40px;
}

.logo{
    font-size: 24px;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 8vh; 
    color: rgb(255, 255, 255);
    list-style: none;
    position: relative;
    width: 100vw;
}

.button-img{
    width: 30px;

}
.nav-list, ul{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu-icon{
    cursor: pointer;
    display: none;
}

.menu-mobile{
    display: none;
}

.menu-icon div{
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 8px;
}

/* FIM DO MENU */

/* BANNERS */

.capa{  /* BANNER - 1 */
    width: 100vw;
    height: 90vh;
    background-image: url(img/banner7.jpeg);
    background-position: center;
    background-size: cover;
}

.banner-sobre{
    width: 100vw;
    height: 60vh;
    background-image: url(img/banner2.jpeg);
    background-position: center;
    background-size: cover;  
}

.banner-modelo{
    width: 100vw;
    height: 75vh;
    background-image: url(img/banner10.png);
    background-position: center;
    background-size: cover;  
}

/* RODAPÉ */

footer{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape{
    padding: 20px;
}

.section{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.apps{
    display: flex;
}

.apps img{
    width: 30px;
    margin-right: 10px;
}

.seta img{
    width: 40px;
}

.seta{
    margin-right: 10px;
}

/* CONTEUDO SOBRE E DO HOME- sobre.html e index.html */

.title{
    text-align: center;
    margin: 20px;
}

span{
    color: rgb(225,62,144);
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.img-sobre{
    width: 300px;
    margin-right: 20px;
}

h1{
    color: rgb(225,62,144);
    margin-bottom: 10px;
}

.text{
    width: 40vw;
    margin: 10px;
    align-items: center;
    font-size: 20px;
    
}

.divisor{
    height: 5vh;
}

/* CONTEUDO DA PAGINA MODELOS - modelo.html */

/* PRODUTOS */

.produto{
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
}

.item{
    padding: 8px;
    margin: 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: .3s all;
}

h2{
    font-size: 15px;
    color: rgb(56, 56, 56);
    font-weight: 400;

}

h3{
    font-size: 15px;
    font-weight: 700;
    color: rgb(225,62,144);
    margin-top: 4px;
}

.img-1{
    width: 7vw;
    margin-bottom: 10px;
}

.img-2{
    width: 8vw;
    margin-bottom: 10px;
}

.img-3{
    width: 11vw;
    margin-bottom: 10px;
}

.img-4{
    width: 15vw;
    margin-bottom: 10px;
}

.img-5{
    width: 5vw;
    margin-bottom: 10px;
}

/* PAGINA DE CONTATO - contato.html */

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.form input, textarea{
    border: 2px solid rgb(225,62,144);
    border-radius: 10px;
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.form .input{
    padding: 10px;
    margin-bottom: 15px;
    width: 350px;
}

.button{
    margin-top: 10px;
}

.botao{
    background-color: rgb(225,62,144);
    color: white;
    width: 100px;
    cursor: pointer;
    padding: 10px;
}

.botao:hover{
    background-color: rgb(220, 0, 110);
    border: 2px solid rgb(220, 0, 110);
    transition: 0.3s;
}

.img-contato{
    width: 30vw;
}

/* PAGINA DE MENSAGEM - mensagem.html */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

/* RESPONSIVIDADE */

@media screen and (min-width: 390px) and (max-width: 844px){ /* Galaxi S9 */
    body{
        overflow-x: hidden;
        padding: 0px;
    }

    /* MOBILE MENU */

    .nav-list li{
        margin-left: 0;
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    .menu-icon{
        display: block;
        margin-left: -5vw;
    }

    .menu-mobile{
        display: block;
    }
    .menu-mobile ul li{
        color: white;
        width: 25vw;
        height: 40px;
        display: inline-block; 
        text-align:center;
        line-height: 45px;
        font-size: 15px;
        position:relative;
    }

    .menu-mobile li ul{
        background-color: black;
        letter-spacing: 3px;
    }

    .menu-mobile li:hover{
        color: rgb(225,62,144);
    }
    
    .menu-mobile ul ul{
        display: none;
    }
                   
    .menu-mobile li:hover  > ul{
        display: block;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo{
        margin-left: 5px;
        margin-right: 20vw;
    } 


    .itens{
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .button-img{
        margin-right: 5px;
    }

    .language{
        margin-left: -130px;
    }

    /* CONTEUDO DO SOBRE E DO HOME */

    .contain{
        flex-direction: column;
    }

    .contain-reverse{
        flex-direction: column;
    }

    .text{
        width: 80vw;
        font-size: 15px;
        text-align: justify;
    }

    .img-sobre{
        width: 80vw;
        margin-right: 0;
    }

    span{
        font-size: 20px;
    }

    /* RODAPE */

    .rodape{
        font-size: 8px;
        text-align: justify;
    }

    .apps img{
        width: 15px;
        margin-right: 5px;
    }

    .seta img{
        width: 18px;
    }

    /* PAGINA MODELOS */

    .imgs{
        flex-direction: column;
    }

    .divisor{
        display: none;
    }

    .produto{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2{
        font-size: 15px;
        color: rgb(56, 56, 56);
        font-weight: 400;

    }

    h3{
        font-size: 15px;
        font-weight: 700;
        color: rgb(225,62,144);
        margin-top: 4px;
    }

    .img-1{
        width: 30vw;
        margin-bottom: 10px;
    }

    .img-2{
        width: 35vw;
        margin-bottom: 10px;
    }

    .img-3{
        width: 44vw;
        margin-bottom: 10px;
    }

    .img-4{
        width: 55vw;
        margin-bottom: 10px;
    }

    .img-5{
        width: 25vw;
        margin-bottom: 10px;
    }

    /* PAGINA DE CONTATO E MENSAGEM */

    .contato{
        flex-direction: column;
        margin-top: 0;
    }

    .img-contato{
        margin-top: 60px;
        width: 90vw;
    }

    form{
        margin: 15px;
    }

    .form .input{
        padding: 10px;
        margin-bottom: 15px;
        width: 250px;
    }

    .container{
        flex-direction: column;
        height: 50vh;
        margin-bottom: 30vh;
    }

}

@media screen and (min-width: 900px) and (max-width: 1280px){
    .contato{
        height: 550px;
    }

    .container{
        height: 585px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1600px){
    .contato{
        height: 622px;
    }

    .container{
        height: 750px;
    }

    .nav-list{
        font-size: 20px;
    } 
}